<app-title-bar [titledata]="title_data"></app-title-bar>
<section class="content">
  <data-filter-form [filterCase]="'noflight'"></data-filter-form>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div *ngIf="showLoader" class="loading">
              <div class="loaderbox">Loading...</div>
            </div>
            <highcharts-chart *ngIf=" !showLoader && countByProductData.length" [Highcharts]="Highcharts"
              [options]="countByProductOptions">
            </highcharts-chart>
            <div *ngIf="!showLoader && countByProductData.length" class="xAsixlabel"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div *ngIf="showLoader" class="loading">
              <div class="loaderbox">Loading...</div>
            </div>
            <highcharts-chart *ngIf="!showLoader && costByProductData.length" [Highcharts]="Highcharts"
              [options]="costByProductOptions">
            </highcharts-chart>
            <div *ngIf="!showLoader && costByProductData.length" class="xAsixlabel"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div *ngIf="showLoader" class="loading">
              <div class="loaderbox">Loading...</div>
            </div>
            <highcharts-chart *ngIf="!showLoader && returnByProductData.length" [Highcharts]="Highcharts"
              [options]="returnedByProductOptions">
            </highcharts-chart>
            <div *ngIf="!showLoader && returnByProductData.length" class="xAsixlabel"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body ">
        <div *ngIf="showLoader" class="loading">
          <div class="loaderbox">Loading...</div>
        </div>
        <highcharts-chart *ngIf="!showLoader && IORByMonthDayData.data.length" [Highcharts]="Highcharts"
          [options]="IOROptions">
        </highcharts-chart>
        <div *ngIf="!showLoader && IORByMonthDayData.data.length" class="xAsixlabel"></div>
      </div>
    </div>
  </div>
</section>