.box{
    mat-card{height: 250px;}
  }
  .filters{
    mat-card{height:200px;}
    }

    
  .body_wrapper{background-color:#f0f0f0;}
  .overlay_xAxis{position:relative;
   .xAsixlabel{position:absolute; bottom:10px; font-size:.8rem; left:0; font-weight:600; width:100%; text-align:center;}
  }