<app-title-bar [titledata]="title_data"></app-title-bar>

<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add User</h3>
                    </div>
                    <form  [formGroup]="registerForm" autocomplete="off"  (ngSubmit)="register(registerForm.value)" class="mt-4">
                        <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Client ID</label>
                            <select class="form-control select2"  formControlName="clientID">
                                <option value="">Select Client</option>
                                <option *ngFor="let item of this.clientList" [value]="item._id">{{item.name | titlecase}}</option>             
                                >
                            </select>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control mb-0" placeholder="Enter email" formControlName="email">
                              <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                                <small *ngIf="registerForm.get('email')?.hasError('required')">This field is required</small>
                                <small *ngIf="registerForm.get('email')?.hasError('email')">Please enter valid email</small>
                                </div>
                            </div>
                          </div>
                        </div>
                       
                        
                        <div class="row">
                        <div class="form-group col-md-6">
                          <label>Password</label>
                          <input type="password" class="form-control mb-0"  placeholder="Password" formControlName="password">
                          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                          <small *ngIf="registerForm.get('password')?.hasError('required')">This field is required</small>
                        </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label>Confrom Password</label>
                          <input type="password" class="form-control mb-0"  placeholder="Confrom Password" formControlName="confrom_password">
                          <div *ngIf="registerForm.get('confrom_password')?.invalid && registerForm.get('confrom_password')?.touched" class="text-danger">
                          <small *ngIf="registerForm.get('confrom_password')?.hasError('required')">This field is required</small>
                        </div>
                        </div>                                  
                      </div>

                          <div class="row mb-2">
                        <div class="form-group col-md-6">
                          <label for="exampleInputFile">Logo URL</label>
                          <input type="text" class="form-control mb-0" placeholder="Enter logo url" formControlName="logo">
                        </div>
                        <div class="form-group col-md-6">
                          <label>Type</label>
                          <select class="form-control select2"  formControlName="type">
                              <option value="hospital">Hospital</option>
                              <option value="airline">Airline</option>
                          </select>
                      </div>
                    </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" [disabled]="registerForm.invalid" class="btn  bg-gradient-primary mr-3">
                               Submit 
                                <div *ngIf="loading" class="spinner-border ml-1" role="status">
                                  <span class="sr-only">Loading...</span>
                                  </div></button>                          
                            <button type="reset" class="btn bg-gradient-secondary " [disabled]="registerForm.valid" >Cancel</button>
                        </div>
                      </form>                    
                </div>
            </div>
        </div>
    </div>
</section>